@media screen and (max-width:600px){
    /* header start */
    .header-section{
        flex-direction: column;
        width:100%;
        max-width: 600px;
    }
   .header-section .item-container> ul{
        display: none;
    }
    
    /* header end */

    /* banner start */
    .banner-back {
        max-width: 1170px;
        width: 100%;
        margin: 50px auto 0;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Resources/banner1.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed
    }

    .nav-bar {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    .nav-list>ul {
        display: none;
    }

    .b-desc {
        max-width: 304px;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 32px;

    }

    .b-title {
        font-size: 22px;
        font-weight: 800;
        padding: 32px auto;
    }
    .menu {
        display: grid;
        padding: 20px;
    }

    .head-input input,
    button {
        margin: 0 auto;
        border: none;
    }

    .flat-display {
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 0px;

    }

    /* banner end */

    /* Our Popular Tour start here */

    main {
        width: 80%;
        margin: 0 auto;
    }

    .OPT-cont {
        flex-direction: column;
    }

    .OPT-sec ,.OPT-img
    {
        width: 100%;
        margin: 0 auto;
    }

    /*  Our Popular Tour End here  */

    /* your destination start */
    
.grid-1 .IMG img{
    width: 100%;
}
.grid-2 .IMG-1 img{
    width: 100%;
    height: 95%;
}

    .grid-1{
        
        /* grid-template-columns: repeat(2,2fr);
       
        border: 3px solid red;
        gap: 10px; */
        display: flex;
        flex-direction: column;
        gap:10px;
        
    }
    .grid-2{
        /* grid-template-columns: repeat(1, 3fr);
        border: 1px solid red; */
        flex-direction: column;
        gap:10px;
    }
    /* your destination end */

    /* why choose start */
    .WCU-flex {
        
        flex-direction: column;
    }

    /* discount start */

    .cont1-item,
    .cont3-item,
    .cont2-item {
        margin: 0px 16px;
        justify-content: flex-end;
    }

    .deals-text,
    .deals-img {
        flex-wrap: wrap;
    }
    /* yourself start */
    .Fontline {
        width: 100%;

    }


/* 70% */
    .newslatter {
        width: 100%;
        align-items: center;
        background-size: cover;
        background-position: center;
        max-width: 672px;
        height: 422px;
        flex-shrink: 0;
        width: 100%;
    }
    .news-part{
        width: 100%;
    }
    
    .rotate {
        top: 65%; 
        left: 25%; 
        transform: rotate(-22.628deg);
        margin: 0;
        max-width: 130px;
        width: 60%;
    }
    .offer {
        width: 60%;

    }

}

